/* .box1,.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 40px;
    color: #fff;
} */
/* 
.box1{
    margin: 10px; */
    /* top yuxar; */
    /* bottom ashagi; */
    /* left sol */
    /* right sag  */
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* margin: 30px  10px 50px 100px; */

/*     
}

.box2{
    padding: 10px; */
        /* top yuxar; */
    /* bottom ashagi; */
    /* left sol */
    /* right sag  */
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    /* padding: 30px  10px 50px 100px; */

/* } */


/* 
.info-box{
    display: inline-block; */
    /* margin: -10px; */
    /* display: inline ; */
    /* display: block; */
    /* width: 100px;
    height: 100px;
    background-color: red;
} */
/* img{
    float: left; */
    /* float: right; */
/* }
.a{ */
    /* clear: left; */
    /* clear: right; */
    /* clear: both; */
/* } */
/* p{
    margin-left: 500px;
} */

